<div class="container">
  <div class="row justify-content-center">
    <h1>Orders#show</h1>
      <div class="cards">
        <% @order.item_orders.each do |item_order| %>
          <div class="card text-center">

            <div class="form-container">

              <div class="flex-between">
                <%= pluralize item_order.quantity, item_order.item.name %>:
                <div class="actions">
                  
                  <%# if the quantity is 1, delete; else, update %>
                  <% if item_order.quantity == 1 %>
                    <%= link_to  "-", item_order_path(item_order), method: :delete, class: "btn round-bordered incrementer minus" %>
                  <% else %>
                    <%= link_to  "-", item_order_path(item_order, offset: -1), method: :patch, class: "btn round-bordered incrementer minus" %>
                  <% end %>
                  
                  <span class="counter" data-count="<%= item_order.quantity %>"><%= item_order.quantity %></span>
                  <%= link_to  "+", item_order_path(item_order, offset: 1), method: :patch, class: 'btn round-bordered incrementer' %>
                </div>
              </div>

              
            </div>

          </div>
        <% end %>
      </div>

  </div>
  <input type="submit" value="Pay <%= @order.price %>€" class="btn btn-primary btn-lg submit mx-auto d-block my-3 w-75">
</div>